# Virtual environment
venv
macbook_venv

# iCLoud files
*.DS_Store

*.png
*.json
bin/
include/
lib/
src/task/bin/
src/task/include/
src/task/lib/

# Pycharm files
.idea/modules.xml
.idea/riderModule.iml
.idea/workspace.xml

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class